html,body{
    background-color: black;
}
body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.white{
    color:white;
}
.main_title{
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.sub_title{
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    display: inline-block;
}


.m-3{
    margin: 1rem;
}