.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: var(--progress-width,30%);
    height: 100%;
    background-color: #4caf50;
}

.subtitle{
    text-align: center;
    color: #f2f2f2;
}